<!--context-->
<div class="container-fluid-md">
    <form class="form-horizontal form-bordered" role="form">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title ms">個人資料</h4>

                <div class="panel-options">
                    <a href="#" data-rel="collapse"><i class="fa fa-fw fa-minus"></i></a>
                </div>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label class="control-label col-sm-3 ms">變更固定資料</label>

                    <div class="controls col-sm-6">
                        <p class="form-control-static ms">
                            注意! 若要改變固定資料，必須透過授課教師!
                        </p>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-3 ms">電子信箱</label>
                    <div class="controls col-sm-6">
                        <input type="text" class="form-control" readonly="" value="cslag@hotmail.com.tw">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3 ms">重置新密碼</label>
                    <div class="controls col-sm-6">
                        <input type="text" class="form-control ms" placeholder="請輸入新密碼">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3 ms">密碼確認</label>
                    <div class="controls col-sm-6">
                        <input type="text" class="form-control ms" placeholder="請再次輸入密碼">
                    </div>
                </div>

            </div>
            <div class="panel-footer">
                <div class="form-group">
                    <div class="col-sm-offset-4 col-sm-8">
                        <button type="submit" class="btn btn-success"><i class="fa fa-check"></i> 完成設定</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>