<!doctype html>
<div class="page-subheading page-subheading-md">
    <ol class="breadcrumb ms">
        <li class="active"><a href="javascript:;">Class: 日間部 - 演算法邏輯(一)</a>
        </li>
    </ol>
</div>
<div class="page-heading page-heading-md ms">
    <h2>平時測驗新增</h2>
</div>
<div class="container-fluid-md ms">
    <div class="col-md-6">
            <form role="form">
            <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">平時測驗新增</h4>
                        <p>題目之圖片您可以使用 imgur.com 的圖床服務，僅貼上網址即可</p>
                        <div class="panel-options">
                            <a href="#" data-rel="collapse"><i class="fa fa-fw fa-minus"></i></a>
                            <a href="#" data-rel="reload"><i class="fa fa-fw fa-refresh"></i></a>
                            <a href="#" data-rel="close"><i class="fa fa-fw fa-times"></i></a>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label" for="exampleInputName6">測驗標題</label>
                                    <input type="text" class="form-control" id="exampleInputName6" placeholder="平時考(一) - 表面積與體積">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label" for="exampleInputCompany6">繳交期限</label>
                                    <input type="text" class="form-control" id="exampleInputCompany6" placeholder="日期 - 時間(24h) 2015/1/9 - 17:50">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label" for="exampleInputEmail6">題目圖片(採用imgur.com網址)</label>
                                    <input type="text" class="form-control" id="exampleInputText1" placeholder="http://imgur.com/sX25S3x">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="exampleInputMessage6">題目HTML</label>
                            <textarea rows="6" class="form-control" id="exampleInputMessage6" style="resize:vertical" placeholder="<div>xxx<div>...   不需要head, html5, body宣告"></textarea>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="exampleInputMessage6">問題HTML</label>
                            <textarea rows="6" class="form-control" id="exampleInputMessage6" style="resize:vertical" placeholder="輸入可能是測試資料、問題等等...  <h3>輸入</h3><pre>5 2 5 3 1</pre>請問輸出?"></textarea>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <div class="form-group text-right">
                            <button type="submit" class="btn btn-success"><i class="fa fa-check"></i> 發布考試更新</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
</div>