<div class="page-subheading page-subheading-md">
    <ol class="breadcrumb ms">
        <li class="active"><a href="javascript:;">Class: 日間部 - 演算法邏輯(一)</a>
        </li>
    </ol>
</div>
<div class="page-heading page-heading-md ms">
    <h2>學生資料新增</h2>
</div>
<div class="container-fluid-md ms">
    <div id="alerts"><%- html %></div>
    <div class="row">
        <div class="col-md-6">
            <form class="form-horizontal form-bordered" role="form">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">學生資料新增</h4>
                        <p></p>
                    </div>
                    <div class="panel-body">
                        <fieldset>
                            <legend class="form-legend">
                                <span>基本學生資料</span>
                            </legend>
                            <div class="form-group">
                                <label for="inputEmail5" class="col-sm-4 control-label">姓</label>
                                <div class="col-sm-8">
                                    <input type="email" class="form-control" id="inputEmail5" placeholder="請輸入學生姓氏...">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputPassword5" class="col-sm-4 control-label">名字</label>
                                <div class="col-sm-8">
                                    <input type="password" class="form-control" id="inputPassword5" placeholder="請輸入學生名字...">
                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <legend class="form-legend">
                                <span>學生個人資料</span>
                            </legend>
                            <div class="form-group">
                                <label for="inputFirstName5" class="col-sm-4 control-label">Eamil</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="inputFirstName5" placeholder="輸入學生的電子信箱...">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputLastName5" class="col-sm-4 control-label">學號</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="inputLastName5" placeholder="輸入學生的學號... ，同時作為密碼">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputLastName5" class="col-sm-4 control-label">班級</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="inputLastName5" placeholder="輸入學生的班級...">
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="panel-footer">
                        <div class="form-group">
                            <div class="col-sm-offset-4 col-sm-8">
                                <button type="submit" class="btn btn-primary">Sign in</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>