<div class="page-subheading page-subheading-md">
    <ol class="breadcrumb ms">
        <li class="active"><a href="javascript:;">Class: 日間部 - 演算法邏輯(一)</a>
        </li>
    </ol>
</div>
<div class="page-heading page-heading-md ms">
    <h2>學生點名</h2>
</div>
<div class="container-fluid-md ms">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="panel-title">學生資料表</h2>
            <p>列出學生紀錄</p>
        </div>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th width="10%">學生姓名</th>
                        <th width="10%">班級</th>
                        <th width="10%">本次是否到課</th>
                    </tr>
                </thead>
                <tbody>
                    <!---->
                    <tr>
                        <td>游崇祐</td>
                        <td>五工二甲</td>
                        <td><label class="checkbox-inline">
                            <input type="checkbox" value="">
                            到課
                        </label></td>
                    </tr>
                    <!---->
                    <tr>
                        <td>劉哲銘</td>
                        <td>夜工三甲</td>
                        <td><label class="checkbox-inline">
                            <input type="checkbox" value="">
                            到課
                        </label></td>
                    </tr>
                    <!---->
                    <tr>
                        <td>柯文哲</td>
                        <td>四工一甲</td>
                        <td><label class="checkbox-inline">
                            <input type="checkbox" value="">
                            到課
                        </label></td>
                    </tr>
                    <!---->
                </tbody>
            </table>
        </div>
    </div>
</div>
