<!doctype html>
<div class="page-subheading page-subheading-md">
    <ol class="breadcrumb ms">
        <li class="active"><a href="javascript:;">Class: 日間部 - 演算法邏輯(一)</a>
        </li>
    </ol>
</div>
<div class="page-heading page-heading-md ms">
    <h2>學生資料管理</h2>
</div>
<div class="container-fluid-md ms">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="panel-title">學生資料表</h2>
            <p>列出學生紀錄</p>
        </div>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th width="10%">學生姓名</th>
                        <th width="10%">班級</th>
                        <th width="10%">本次是否到課</th>
                        <th width="20%">到課率</th>
                    </tr>
                </thead>
                <tbody>
                    <!---->
                    <% for (var i = 0; i < Object.keys(list).length; i++) { %>
		                <%	for (var j = 0; j < Object.keys(list[i].rollcall).length; j++) {%>
			         <tr>
                        <td><%= Object.keys(list[i].rollcall)[j] %></td>
                        <td><%= list[Object.keys(list)].rollcall[Object.keys(list[i].rollcall)[j]].class %></td>
                        <td>
                            <% if(list[Object.keys(list)].rollcall[Object.keys(list[i].rollcall)[j]].check[list[Object.keys(list)].rollcall[Object.keys(list[i].rollcall)[j]].check.length-1]){ %>
                                <span class="label label-success">正常到課</span>
                            <% }else{ %>
                                <span class="label label-danger">缺課</span>
                            <% } %>
                        </td>
                        <td class="valign-middle">
                            <div class="progress progress-sm">
                                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 85%;"></div>
                            </div>
                        </td>
                    </tr>
                <% }%>
	           <% }%>
                </tbody>
            </table>
        </div>
    </div>
</div>