<!doctype html>
<div class="page-subheading page-subheading-md">
    <ol class="breadcrumb ms">
        <li class="active"><a href="javascript:;">Class: 日間部 - 演算法邏輯(一)</a>
        </li>
    </ol>
</div>
<div class="page-heading page-heading-md ms">
    <h2>學生資料管理</h2>
</div>
<div class="container-fluid-md ms">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="panel-title">學生資料表</h2>
            <p>列出學生紀錄</p>
        </div>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th width="10%">學生姓名</th>
                        <th width="10%">班級</th>
                        <th width="10%">本次是否到課</th>
                        <th width="20%">到課率</th>
                    </tr>
                </thead>
                <tbody>
                    <!---->
                    <tr>
                        <td>游崇祐</td>
                        <td>五工二甲</td>
                        <td><span class="label label-success">正常到課</span></td>
                        <td class="valign-middle">
                            <div class="progress progress-sm">
                                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 85%;"></div>
                            </div>
                        </td>
                    </tr>
                    <!---->
                    <tr>
                        <td>劉哲銘</td>
                        <td>夜工三甲</td>
                        <td><span class="label label-danger">缺課</span></td>
                        <td class="valign-middle">
                            <div class="progress progress-sm">
                                <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 20%;"></div>
                            </div>
                        </td>
                    </tr>
                    <!---->
                    <tr>
                        <td>柯文哲</td>
                        <td>四工一甲</td>
                        <td><span class="label label-danger">缺課</span></td>
                        <td class="valign-middle">
                            <div class="progress progress-sm">
                                <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 30%;"></div>
                            </div>
                        </td>
                    </tr>
                    <!---->
                </tbody>
            </table>
        </div>
    </div>
</div>