<!DOCTYPE html>
<html>

<head>
    <title>CSIE Management - ERROR</title>
    <style type="text/css">
    body {
        margin: 0;
        /*padding: 60px 20px;*/
        font: 14px/18px sans-serif;
        color: #fff;
        background-color: transparent
    }
    html {
        background-color: #3a92c8;
        background: radial-gradient(circle, #6bb1db, #3a92c8);
        background-repeat: no-repeat;
        background-attachment: fixed;
        *background-image: none
    }
    ol,
    ul {
        padding: 0;
        margin: 0;
        list-style: none
    }
    a {
        color: #0084b4;
        text-decoration: none;
        outline: 0
    }
    a:hover,
    a:focus {
        text-decoration: underline
    }
    p a {
        line-height: inherit
    }
    h1,
    p {
        position: relative;
        z-index: 10;
        text-align: center;
        text-rendering: optimizeLegibility
    }
    h1 {
        margin: 30px 0 0;
        font-size: 40px;
        font-weight: 200;
        line-height: 1;
        text-shadow: 0 1px 2px rgba(0, 0, 0, .2)
    }
    p,
    label {
        margin: 10px 0 20px;
        font-size: 18px;
        font-weight: 300;
        line-height: 25px;
        color: #e0eff6
    }
    p a {
        font-weight: bold;
        color: #fff
    }
    .languages li {
        white-space: nowrap
    }
    label,
    select,
    button,
    input[type="button"],
    input[type="reset"],
    input[type="submit"],
    input[type="radio"],
    input[type="checkbox"] {
        cursor: pointer;
    }
    .btns {
        border: 1px solid #ccc;
        background-color: #F5F5F5;
        padding: 11px 19px;
        font-size: 17.5px;
    }
    .btns:hover {
        background-color: #e6e6e6;
    }
    a:link { 
text-decoration:none; 
} 
a:visited { 
text-decoration:none; 
} 
a:hover { 
text-decoration:none; 
}
    </style>
</head>

<body style="font-size:37px; line-hight:35px; font-family:'微軟正黑體';position: absolute;
left: 10%;
top: 20%;">
    <div width="100%" style="
    line-height: 40px;
">404 NOT FOUND
        <br>找不到頁面
        <br>
        <a href="javascript:history.back();" class="btns" name="commit">回上一頁</a>
    </div>
</body>

</html>
