<!doctype html>
<div class="page-subheading page-subheading-md">
    <ol class="breadcrumb ms">
        <li class="active"><a href="javascript:;">Class: 日間部 - 演算法邏輯(一)</a>
        </li>
    </ol>
</div>
<div class="page-heading page-heading-md ms">
    <h2>課程資源管理</h2>
</div>
<div class="container-fluid-md ms">
    <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">學習資源更新</h4>

                    <p>建議您使用Hackpad將資源公布給學生</p>
                    <div class="panel-options">
                        <a href="#" data-rel="collapse"><i class="fa fa-fw fa-minus"></i></a>
                        <a href="#" data-rel="reload"><i class="fa fa-fw fa-refresh"></i></a>
                        <a href="#" data-rel="close"><i class="fa fa-fw fa-times"></i></a>
                    </div>
                </div>
                <div class="panel-body">
                    <form role="form" action="/AssetsManagement" method="post">
                        <div class="form-group">
                            <label class="control-label" for="exampleInputText1"></label>

                            <div class="controls">
                                您可以使用IDEONE, Hackpad, GoogleDocs, Dropbox, OneDrive 等等資源網址發布給學生
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="exampleInputPassword1">資源網址編輯</label>
                            <span class="help"></span>

                            <div class="controls">
                                <% if(indata) { %>
                                    <input type="text" name="url" class="form-control" id="exampleInputPassword1" placeholder="url..." value='<%= data.url %>'>
                                <% }else{ %>
                                    <input type="text" name="url" class="form-control" id="exampleInputPassword1" placeholder="url...">
                                <% }%>
                            </div>
                        </div>
                        <button class="btn btn-success" type="submit"><i class="fa fa-check"></i> 完成發布</button>
                    </form>
                </div>
            </div>
        </div>
</div>