<div class="page-content">
    <div class="page-subheading page-subheading-md">
        <ol class="breadcrumb ms">
            <li class="active"><a href="javascript:;">Class: 日間部 - 演算法邏輯(一)</a>
            </li>
        </ol>
    </div>
    <div class="page-heading page-heading-md ms">
        <h2>本週測驗題目 (Quiz)</h2>
    </div>
    <div class="container-fluid-md">
        <div class="row ms">
            <!---->
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title"><%= data.title %></h4>

                        <p>請依照問題解出答案</p>
                        <div class="panel-options">
                            <a href="#" data-rel="collapse"><i class="fa fa-fw fa-minus"></i></a>
                            <a href="#" data-rel="reload"><i class="fa fa-fw fa-refresh"></i></a>
                            <a href="#" data-rel="close"><i class="fa fa-fw fa-times"></i></a>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="course-quiz-preamble">
                            <img src="<%= data.image %>" alt="The object" width="100%">
                            <%- data.chtml %>
                        </div>
                    </div>
                </div>
            </div>
            <!---->
            <%- data.qhtml %>
            <!---->
        </div>
    </div>