<!doctype html>
<div class="page-subheading page-subheading-md">
    <ol class="breadcrumb ms">
        <li class="active"><a href="javascript:;">Class: 日間部 - 演算法邏輯(一)</a>
        </li>
    </ol>
</div>
<div class="page-heading page-heading-md ms">
    <h2>作業內容更新</h2>
</div>
<div class="container-fluid-md ms">
    <!---->
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">學生: 游崇祐</h3>
                <p>五工二甲</p>
            </div>
            <div class="panel-body">
                <h4>實作網址: <a href="#">https://ideone.com/fpsklds55ds</a></h4>
                <hr>
                <p>輸出&回答</p>
                <pre class="ms">
1. 錯，因為L2TP/IPSEC有SLL加密驗證。
2. 輸出資料:
   3
   4
   7
   9
   6
   3
   2
                    </pre>

            </div>
            <!---->
            <div class="panel-footer">
                <div class="form-group">
                    <form>
                        評分:
                        <input type="text" class="form-control" id="exampleInputText1"> 額外說明:
                        <input type="text" class="form-control" id="exampleInputText1">
                        <br>
                        <button class="btn btn-success" type="submit"><i class="fa fa-check"></i> 及格送出</button>
                        <button class="btn btn-danger" type="submit"><i class="fa fa-times"></i> 退回送出</button>
                    </form>
                </div>
            </div>
            <!---->
        </div>
    </div>
    <!---->
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">學生: 劉哲銘</h3>
                <p>夜二工三甲</p>
            </div>
            <div class="panel-body">
                <h4>實作網址: <a href="#">https://ideone.com/fpsklds55ds</a></h4>
                <hr>
                <p>輸出&回答</p>
                <pre class="ms">
1. 對
2. 輸出資料:
   3
   4
   7
   9
   6
   3
   2
                    </pre>
            </div>
            <!---->
            <div class="panel-footer">
                <div class="form-group">
                    <form>
                        評分:
                        <input type="text" class="form-control" id="exampleInputText1"> 額外說明:
                        <input type="text" class="form-control" id="exampleInputText1">
                        <br>
                        <button class="btn btn-success" type="submit"><i class="fa fa-check"></i> 及格送出</button>
                        <button class="btn btn-danger" type="submit"><i class="fa fa-times"></i> 退回送出</button>
                    </form>
                </div>
            </div>
            <!---->
        </div>
    </div>
    <!---->
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">學生: 柯文哲</h3>
                <p>四工一甲</p>
            </div>
            <div class="panel-body">
                <h4>實作網址: <a href="#">https://ideone.com/fpsklds55ds</a></h4>
                <hr>
                <p>輸出&回答</p>
                <pre class="ms">
1. 錯，因為L2TP/IPSEC有SLL加密驗證。
2. 輸出資料:
   3
   4
   7
   9
   6
   3
   2
                    </pre>
            </div>
            <!---->
            <div class="panel-footer">
                <div class="form-group">
                    <form>
                        評分:
                        <input type="text" class="form-control" id="exampleInputText1"> 額外說明:
                        <input type="text" class="form-control" id="exampleInputText1">
                        <br>
                        <button class="btn btn-success" type="submit"><i class="fa fa-check"></i> 及格送出</button>
                        <button class="btn btn-danger" type="submit"><i class="fa fa-times"></i> 退回送出</button>
                    </form>
                </div>
            </div>
            <!---->
        </div>
    </div>
    <!---->
</div>